body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: pink;
}
p{
    padding-top: 18;
    background-color: #333; 
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed; 
    top: 0; 
    width: 100%; 
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    padding-left: 17;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 400px;
}

input {
    grid-column: span 4;
    padding: 10px;
    font-size: 1.5em;
}

button {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

button:active {
    background-color: #f0f0f0;
}
